body{
    padding: 0;
    margin: 0;
    background: none; 
}




#supradiv {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}





#nav{
    background-color: black;
    background-size: cover; 
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
}





#title{
    background-image: url("/imagenes/1920x1080_px_blue_Dark-1209539.jpg");
    color: aliceblue;
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.salute{
    width: 60%;
    height: 50%;
    backdrop-filter: blur(20px);
    text-align: center;
    border-radius: 10px;
    font-size: 3rem;
}

.salute h3{
    font-size: 0.8em;
}
.salute h5,h4{
    font-size: 0.6em;
}

.photo-container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
}
.photo{
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    position: absolute;
    z-index: 1;
    transition: 0.3s ease;
}

.photo:hover{
    transform: scale(1.1);
    border: 5px solid;
    border-color: azure;
}






#info{
    background-image: linear-gradient(0.25turn, rgb(0, 0, 0), rgb(47, 56, 0));
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.info-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.info-title h1{
    color: aliceblue;
    padding-bottom: 4rem;
    padding-top: 4rem;
    font-size: 3rem;
}
.project-button{
    background-color: transparent;
    border: none;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    border-radius: 50%;
    width: 15rem; 
    height: 15rem;
    margin-left: 2rem;
    margin-right: 2rem;
    transition: 0.1s ease;
    view-timeline-name: --image;
	view-timeline-axis: block;
	animation-timeline: --image;
	animation-name: show;
    animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}
.project-button img{
        width: 15rem;
        height: 15rem;
        vertical-align: middle;
        margin-right: 5px;
        border-radius: 50%;
        
}
.project-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}





#contacts{
    background-image: linear-gradient(0.25turn, rgb(0, 0, 0), rgb(0, 16, 16));
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

@keyframes show {
    from {
        scale: 25%;
    }
    to{
        scale: 50%;
    }
    to {
        scale: 100%;
    }
}