@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Libre+Bodoni:ital@0;1&family=Playfair+Display&display=swap');

body{
    background-color: rgb(3, 1, 28);
}

.superdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: left;
}

.title{
    font-size: larger;
    color: antiquewhite;
    font-family: 'Garamond', serif;
}

.tribute-info{
    font-family: 'Garamond', serif;
    font-size: 1.3rem;
    color: antiquewhite;
    position: relative;
    text-align: left;
}

.image{
    position: relative;
    max-width: 100%;
    height: 100%;
}

.tribute-link {
    color: rgb(243, 214, 120);
}