body{
    padding: 0;
    margin: 0;
    background: none; 
    pointer-events: none;
}




#supradiv {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}





#nav{
    background-color: black;
    background-size: cover; 
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
}





#title{
    background-image: url("/imagenes/mountains-7872003_960_720.jpg");
    color: aliceblue;
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.photo{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    padding-bottom: 1rem;
}
.salute{
    width: 20rem;
    height: 10rem;
    backdrop-filter: blur(20px);
    text-align: center;
    border-radius: 10px;
    font-size: large;
}









#info{
    background-image: linear-gradient(0.25turn, rgb(0, 0, 0), rgb(0, 27, 1));
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.info-title h1{
    color: aliceblue;
    padding-bottom: 4rem;
}
.project-button{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    border-radius: 50%;
    width: 15rem; 
    height: 15rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.project-button img{
        width: 15rem;
        height: 15rem;
        vertical-align: middle;
        margin-right: 5px;
        border-radius: 50%;
}







#contacts{
    background-image: linear-gradient(0.25turn, rgb(0, 0, 0), rgb(0, 27, 1));
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}